html,
body {
}

html {
  overflow: hidden;
}

body {
  overflow-x: hidden;
  overflow-y: auto;
  height: 100vh;
}

[data-color="red"] {
  .image-of-profile{
    background-color: $color-tall-poppy;
  }
  .sidebar {
    background-color: $color-tall-poppy;
    .sidebar-items {
      .item {
        &.menu-bar {
          background-color: $color-tall-poppy;
        }
      }
    }
  }

  .btn {
    transition: all .5s ease;

    &:focus {
      box-shadow: 0 0 0 0.2rem $color-tall-poppy-25;
    }

    &.btn-solid {
      color: $color-white;
      background-color: $color-tall-poppy;

      &:hover {
        color: $color-tall-poppy;
        background-color: transparent;
        border: 1px solid $color-tall-poppy;
      }
    }

    &.btn-hollow {
      border: 1px solid $color-tall-poppy;
      color: $color-tall-poppy;

      &:hover {
        color: $color-white;
        background-color: $color-tall-poppy;
        border: 1px solid transparent;
      }
    }
  }

  .continuation-line {
    background-color: $color-tall-poppy;
  }

  .go-to-tab {
    color: $color-tall-poppy;

    &:hover {
      color: $color-tall-poppy-60;
    }
  }
}

.dark-theme {
  &[data-color="red"] {
    .image-of-profile{
      background-color: $color-red-orange;
    }
    .sidebar {
      background-color: $color-red-orange;
      .sidebar-items {
        .item {
          &.menu-bar {
            background-color: $color-red-orange;
          }
        }
      }
    }

    .btn {
      transition: all .5s ease;

      &:focus {
        box-shadow: 0 0 0 0.2rem $color-tall-poppy-25;
      }

      &.btn-solid {
        color: $color-white;
        background-color: $color-red-orange;

        &:hover {
          color: $color-red-orange;
          background-color: transparent;
          border: 1px solid $color-red-orange;
        }
      }

      &.btn-hollow {
        border: 1px solid $color-red-orange;
        color: $color-red-orange;

        &:hover {
          color: $color-white;
          background-color: $color-red-orange;
          border: 1px solid transparent;
        }
      }
    }

    .continuation-line {
      background-color: $color-red-orange;
    }

    .go-to-tab {
      color: $color-red-orange;

      &:hover {
        color: $color-red-orange-60;
      }
    }
  }
}

[data-color="blue"] {
  .image-of-profile {
    background-color: $color-bondi-blue;
  }

  .sidebar {
    background-color: $color-bondi-blue;
    .sidebar-items {
      .item {
        &.menu-bar {
          background-color: $color-bondi-blue;
        }
      }
    }
  }

  .btn {
    transition: all .5s ease;

    &.btn-solid {
      color: $color-white;
      background-color: $color-bondi-blue;

      &:hover {
        color: $color-bondi-blue;
        background-color: transparent;
        border: 1px solid $color-bondi-blue;
      }
    }

    &.btn-hollow {
      border: 1px solid $color-bondi-blue;
      color: $color-bondi-blue;

      &:hover {
        color: $color-white;
        background-color: $color-bondi-blue;
        border: 1px solid transparent;
      }
    }
  }

  .continuation-line {
    background-color: $color-bondi-blue;
  }

  .go-to-tab {
    color: $color-bondi-blue;

    &:hover {
      color: $color-bondi-blue-60;
    }
  }
}

[data-color="orange"] {
  .image-of-profile {
    background-color: $color-california;
  }

  .sidebar {
    background-color: $color-california;
    .sidebar-items {
      .item {
        &.menu-bar {
          background-color: $color-california;
        }
      }
    }
  }

  .btn {
    transition: all .5s ease;

    &.btn-solid {
      color: $color-white;
      background-color: $color-california;

      &:hover {
        color: $color-california;
        background-color: transparent;
        border: 1px solid $color-california;
      }
    }

    &.btn-hollow {
      border: 1px solid $color-california;
      color: $color-california;

      &:hover {
        color: $color-white;
        background-color: $color-california;
        border: 1px solid transparent;
      }
    }
  }

  .continuation-line {
    background-color: $color-california;
  }

  .go-to-tab {
    color: $color-california;

    &:hover {
      color: $color-california-60;
    }
  }
}

[data-color="green"] {
  .image-of-profile {
    background-color: $color-wasabi;
  }

  .sidebar {
    background-color: $color-wasabi;

    .sidebar-items {
      .item {
        &.menu-bar {
          background-color: $color-wasabi;
        }
      }
    }
  }

  .btn {
    transition: all .5s ease;

    &.btn-solid {
      color: $color-white;
      background-color: $color-wasabi;

      &:hover {
        color: $color-wasabi;
        background-color: transparent;
        border: 1px solid $color-wasabi;
      }
    }

    &.btn-hollow {
      border: 1px solid $color-wasabi;
      color: $color-wasabi;

      &:hover {
        color: $color-white;
        background-color: $color-wasabi;
        border: 1px solid transparent;
      }
    }
  }

  .continuation-line {
    background-color: $color-wasabi;
  }

  .go-to-tab {
    color: $color-wasabi;

    &:hover {
      color: $color-wasabi;
    }
  }
}

[data-color="purple"] {
  .image-of-profile {
    background-color: $color-scarlet-gum;
  }
  .sidebar {
    background-color: $color-scarlet-gum;


    .sidebar-items {
      .item {
        &.menu-bar {
          background-color: $color-scarlet-gum;
        }
      }
    }
  }

  .btn {
    transition: all .5s ease;

    &.btn-solid {
      color: $color-white;
      background-color: $color-scarlet-gum;

      &:hover {
        color: $color-scarlet-gum;
        background-color: transparent;
        border: 1px solid $color-scarlet-gum;
      }
    }

    &.btn-hollow {
      border: 1px solid $color-scarlet-gum;
      color: $color-scarlet-gum;

      &:hover {
        color: $color-white;
        background-color: $color-scarlet-gum;
        border: 1px solid transparent;
      }
    }
  }

  .continuation-line {
    background-color: $color-scarlet-gum;
  }

  .go-to-tab {
    color: $color-scarlet-gum;

    &:hover {
      color: $color-scarlet-gum-60;
    }
  }
}

.dark-theme {
  &[data-color="purple"] {
    .image-of-profile {
      background-color: $color-lavender;
    }

    .sidebar {
      background-color: $color-lavender;


      .sidebar-items {
        .item {
          &.menu-bar {
            background-color: $color-lavender;
          }
        }
      }
    }

    .btn {
      transition: all .5s ease;

      &.btn-solid {
        color: $color-white;
        background-color: $color-lavender;

        &:hover {
          color: $color-lavender;
          background-color: transparent;
          border: 1px solid $color-lavender;
        }
      }

      &.btn-hollow {
        border: 1px solid $color-lavender;
        color: $color-lavender;

        &:hover {
          color: $color-white;
          background-color: $color-lavender;
          border: 1px solid transparent;
        }
      }
    }

    .continuation-line {
      background-color: $color-lavender;
    }

    .go-to-tab {
      color: $color-lavender;

      &:hover {
        color: $color-lavender-60;
      }
    }
  }
}

.content {
  width: calc(100% - 260px);

  .main {
    min-height: 100vh;

    > ul {
      > li {
        position: absolute;
        transition: all .5s ease;

        &:not(.active) {
          visibility: hidden;
          opacity: 0;
          transform: translate(-10px, 0);
          overflow: hidden;

        }

        &.active {
          visibility: visible;
          opacity: 1;
          transform: translate(0, 0);
        }

        &[data-main-tab] {
          padding-left: 30px;
          padding-right: 20px;
        }

        .btn {

        }

        .soldier-content {
          max-width: calc(100% - 120px);
        }

        .phone-number {
          max-width: calc(100% - 86px);
        }

        .email-address {
          max-width: calc(100% - 92px);
        }

        .go-to-tab {
          cursor: pointer;
        }
      }
    }

  }

  @media screen and (max-width: 767px) {
    margin-right: 60px;
    width: calc(100% - 60px);
  }

  @media screen and (max-width: 450px) {
    margin-right: 0;
    width: 100%;
  }
}

.rtl {
  .main {
    > ul {
      > li {
        &[data-main-tab] {
          padding-left: 20px;
          padding-right: 30px;
        }

        .btn {

        }
      }
    }
  }

  @media screen and (max-width: 767px) {
    .main {
      > ul {
        > li {
          &[data-main-tab] {
            padding-left: 0;
            padding-right: 0;
            margin-bottom: 60px;
          }
        }
      }
    }
  }
}

.change-theme-color {
  left: 0;
  z-index: 1;
  bottom: -46px;
  transition: all .3s ease;

  &.active {
    bottom: 0;
  }

  i {
    border-radius: 15px 15px 0 0;
    cursor: pointer;
  }

  ul {
    border-radius: 15px 15px 0 0;

    li {
      border-radius: 10px;
      width: 30px;
      height: 30px;
      cursor: pointer;
    }
  }
}

.theme-switch {
  top: 10px;
  left: 20px;
  z-index: 1;
  width: 35px;
  height: 35px;
  user-select: none;

  img {
    cursor: pointer;

    &.moon {
      transform: translate(0, calc(-100% - 10px));
    }

    &.sun {
      z-index: 2;
    }

    &.active {
      &.up {
        animation: switch-theme-up .3s forwards;
        animation-iteration-count: 1;
      }

      &.down {
        transform: translate(0, calc(-100% - 10px));
        animation: switch-theme-down .3s forwards .2s;
      }
    }
  }
}

@keyframes switch-theme-up {
  0% {
    transform: translate(0, 0px);
  }
  10% {
    transform: translate(0, 10px);
  }
  100% {
    transform: translate(0, calc(-100% - 10px));
  }
}

@keyframes switch-theme-down {
  0% {
    transform: translate(0, calc(-100% - 10px));
  }
  10% {
    transform: translate(0, 10px);
  }
  100% {
    transform: translate(0, 0%);
  }
}

.dark-theme {
  background-color: $color-tints-of-charcoal;
  color: #fff;

  .change-theme-color {
    .bg-silver {
      background-color: $color-mine-shaft;
    }
  }

  .sidebar {
    .sidebar-items {
      .item {
        &:not(.stop-hover):hover,
        &.active {
          background-color: $color-tints-of-charcoal;
          color: $color-white;

          .sidebar-items-title {
            color: $color-white;
          }
        }
      }
    }
  }
}

canvas {
  width: 120vw;
  height: 100%;
  margin-right: -290px;
}
.image-of-profile {
  box-shadow: inset 0 0 16px 0 $color-black-pearl;
}
