$DefaultFonts: serif, sans-serif, cursive, fantasy, monospace;
//===============================================
//colors
//===============================================
$color-white: #fff;
$color-tall-poppy : #af262a;
$color-tall-poppy-25 : rgba(175, 38, 42, 0.25);
$color-tall-poppy-60 : rgba(175, 38, 42, 0.6);
$color-tints-of-charcoal : #424242;
$color-pacific-blue : #0D86D7;
$color-dodger-blue : #1DA1F2;
$color-mariner : #4267B2;
$color-black-pearl : #001935;
$color-cerulean : #0077B5;
$color-blue-ribbon : #053eff;
$color-cobalt : #0047B3;
$color-cranberry : #DF3E7B;
$color-silver : #bebebe;
$color-mine-shaft : #1f1f1f;
$color-shark : #21262c;
$color-cinnabar : #e2432a;
$color-woodsmoke : #171a21 ;
$color-monza : #bd081c;
$color-lochmara : #007ac0;
$color-vermilion : #ff4301;
$color-royal-purple : #6441a5;
$color-flush-orange : #ff7700;
$color-alizarin-crimson : #e62117;
$color-red-orange : #ff242b;
$color-red-orange-60 : rgba(255, 36, 43, 0.6);
$color-malachite : #05cc46;
$color-wasabi : #628e2f ;
$color-california : #ff9800;
$color-california-60 : rgba(255, 152, 0, 0.6);
$color-everglade : #265728;
$color-everglade-60 : rgba(38, 87, 40, 0.6);
$color-bondi-blue : #1486b5;
$color-bondi-blue-60 : rgba(20, 134, 181, 0.6);
$color-scarlet-gum : #4e1358;
$color-scarlet-gum-60 : rgba(78, 19, 88, 0.6);
$color-lavender : #ce6ddf;
$color-lavender-60 : rgba(206, 109, 223, 0.6);
$color-white-smoke : #f3f3f3;

//===============================================
//numbers
//===============================================
$L: 1200px;
$M: 992px;
$S: 768px;
$xs: 576px;
$margin-and-padding-size: 2.5rem;
$f-10: 10px;
$f-16: 16px;
$f-14: 14px;
$f-12: 12px;
$f-10: 10px;
$f-18: 18px;
$f-20: 20px;
$f-26: 26px;